[flake8]
statistics = True
show-source = True

select = E,F,W,C,I,B,S,T,Q
per-file-ignores =
    test*.py:S101,S106

import-order-style=appnexus
application-package-names=ghsa

format = pylint
hang-closing = false

max-line-length = 90
inline-quotes = single

disable-noqa = True
exclude =
    .git,
    __pycache__,
    .mypy_cache,
    .idea,
    build,
    dist
